* {
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	margin: 2rem;
	background-color: hsl(115, 100%, 95%);
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
	max-width: 400px;
	margin: 0 auto;
	border: 1px solid #ccc;
	padding: 2rem;
	background-color: white;
}

#icon {
	max-width: 100px;
	width: 100%;
	max-height: 100px;
	width: 100%;
	display: flex;
}
.form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 100%;
	gap: 0.25rem;
}

input,
select {
	padding: 0.75rem 1%;
	flex: 1;
	display: flex;
	border: 1px solid #ccc;
	border-radius: 4px;
}

button {
	padding: 0.75rem 1rem;
	background-color: #007BFF;
	color: white;
	border: none;
	cursor: pointer;
	width: 100%;
}

#result:empty {
	display: none;
}

#result {
	background-color: hsl(210, 100%, 85%);
	padding: 1rem;
	display: flex;
	width: 100%;
}