@import "tailwindcss";

@theme {
	--color-tory-blue-50: #eff8ff;
--color-tory-blue-100: #dcedfd;
--color-tory-blue-200: #c0e1fd;
--color-tory-blue-300: #95cffb;
--color-tory-blue-400: #63b4f7;
--color-tory-blue-500: #3e95f3;
--color-tory-blue-600: #2978e7;
--color-tory-blue-700: #2062d5;
--color-tory-blue-800: #2253b4;
--color-tory-blue-900: #204588;
--color-tory-blue-950: #182c53;
}